.header {
  margin-bottom: 10px;
}

.header__icon {
  color: white;
  margin-right: 14px;
}

@media (min-width: 1365px) {
  .header__icon {
    width: 24px;
    height: 29px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.header__avatar {
  border-radius: 50%;
}

@media (min-width: 1365px) {
  .header__avatar {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
}

.header__wrapper {
  line-height: 0;
  border-left: 1px solid white;
  padding-left: 10px;
}

.header__title {
  margin: 0 0 9px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 1365px) {
  .header__title {
    font-size: 18px;
    line-height: 25px;
  }
}

.header__name {
  display: none;
}

@media (min-width: 1365px) {
  .header__name {
    display: block;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: white;
  margin: 0;
  }
}

@media (min-width: 1365px) {
  .header__breadcrumbs {
    margin-bottom: 32px;
  }

  .header__breadcrumbs-item {
    font-size: 14px;
    line-height: 19px;
  }
}
