.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px 13px 15px 11px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1280px) {
  .user-panel {
    padding: 24px 28px 24px 30px;
    margin-bottom: 24px;
  }
}

.user-panel__image {
  border-radius: 50%;
  margin-right: 10px;
}


@media (min-width: 1280px) {
  .user-panel__image {
    width: 80px;
    height: 80px;
    margin-right: 42px;
  }
}

.user-panel__name {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: white;
  margin: 0 auto 0 0;
}

@media (min-width: 1280px) {
  .user-panel__name {
    font-size: 30px;
    line-height: 40px;
  }
}

.user-panel__text {
  display: none;
}

@media (min-width: 1280px) {
  .user-panel__text {
    display: block;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 8px;
    color: white;
  }
}

.user-panel__icon {
  margin-left: auto;
}