.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px 13px 15px 11px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-panel__image {
  border-radius: 50%;
  margin-right: 10px;
}

.user-panel__name {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: white;
  margin: 0 auto 0 0;
}

.user-panel__icon {
  margin-left: auto;
}